In [1]:
import pandas as pd
import numpy as np

### groupby

In [2]:
data = {'Gender':['m','f','f','m','f','m','m'],'Height':[172,171,169,173,170,175,178]}
df_sample = pd.DataFrame(data)
df_sample

  Gender  Height
0      m     172
1      f     171
2      f     169
3      m     173
4      f     170
5      m     175
6      m     178

In [3]:
f_filter = df_sample['Gender']=='f'
print(df_sample[f_filter])

  Gender  Height
1      f     171
2      f     169
4      f     170

In [4]:
m_filter = df_sample['Gender']=='m'
print(df_sample[m_filter])

  Gender  Height
0      m     172
3      m     173
5      m     175
6      m     178

In [5]:
f_avg = df_sample[f_filter]['Height'].mean()
m_avg = df_sample[m_filter]['Height'].mean()

print(f_avg,m_avg)

170.0 174.5

In [6]:
df_output = pd.DataFrame({'Gender':['f','m'],'Height':[f_avg,m_avg]})
df_output

  Gender  Height
0      f   170.0
1      m   174.5

In [7]:
# all above could be done with:
df_sample.groupby('Gender').mean()

        Height
Gender
f        170.0
m        174.5