Easy
Dropbox
Interview QuestionsID 10308
Interview Question Date: Nov 2020
Salaries Differences


Write a query that calculates the difference between the highest salaries found in the marketing and engineering departments. Output just the difference in salaries.


DataFrames: db_employee, db_dept
Expected Output Type: pandas.DataFrame


db_employee
id
int64
first_name
object
last_name
object
salary
int64
department_id
int64


db_dept
id
int64
department
object

In [ ]:
# Import your libraries
import pandas as pd

# Start writing code
max_marketing = max(db_employee[db_employee["department_id"] == 4]["salary"])
max_engineer = max(db_employee[db_employee["department_id"] == 1]["salary"])

# db_employee.head()
# db_dept.head()
abs(int(max_marketing) - int(max_engineer))

In [ ]:
# Python
import pandas as pd
import numpy as np

df = pd.merge(db_employee, db_dept, how = 'left',left_on = ['department_id'], right_on=['id'])

df1 = df[df["department"]=='engineering']
df_eng = df1.groupby('department')['salary'].max().reset_index(name='eng_salary')

df2 = df[df["department"]=='marketing']
df_mkt = df2.groupby('department')['salary'].max().reset_index(name='mkt_salary')

result = pd.DataFrame(df_mkt['mkt_salary'] - df_eng['eng_salary'])
result.columns = ['salary_difference']
result

In [ ]:
# PostgreSQL
# select
#     (select max(e.salary)
#     from db_employee e, db_dept d
#     where e.department_id = d.id
#     and d.id = 4)
#     - 
#     (select max(e.salary)
#     from db_employee e, db_dept d
#     where e.department_id = d.id
#     and d.id = 1)
# as "salary differences"