Find the total cost of each customer's orders. Output customer's id, first name, and the total order cost. Order records by customer's first name alphabetically.
DataFrames: customers, orders
Expected Output Type: pandas.Series
customers
id
int64
first_name
object
last_name
object
city
object
address
object
phone_number
object
orders
id
int64
cust_id
int64
order_date
datetime64[ns]
order_quantity
int64
order_details
object
order_cost
int64

In [ ]:
# python
df = pd.merge(customers, orders, left_on="id", right_on="cust_id")\
        .groupby(["cust_id", "first_name"])["order_cost"].sum().reset_index()\
        .sort_values(by="first_name", ascending=True)

In [ ]:
# postgresql 1
select summary.id, summary.first_name, sum(summary.order_cost)
from
    (select c.id, o.order_cost, c.first_name
    from customers c, orders o
    where c.id = o.cust_id) as summary
group by summary.id, summary.first_name
order by summary.first_name
;

In [ ]:
# postgresql 2
select c.id,
    c.first_name,
    sum(o.order_cost)
from orders o, customers c
where c.id = o.cust_id
group by c.id, c.first_name
order by c.first_name asc
;

In [ ]:
# postgresql solution
SELECT customers.id,
       customers.first_name,
       SUM(order_cost)
FROM orders
JOIN customers ON customers.id = orders.cust_id
GROUP BY customers.id, customers.first_name
ORDER BY customers.first_name ASC;